
<div class="fun">

  <ul id="fun_menu">
    <li><%= link_to "home", "/" %></li>
    <li><%= link_to "products", "/products" %></li>
    <li>about us</li>
  </ul>

  <div class="wrapper">
    <div class="demo us_box">
      <span class="big">who is ptotem? <span class="arrow">&darr;<span class="arrow_text">Press &darr; to scroll</span></span></span>

    </div>
    <div class="description1 us_box">
      <div class="big">Arijit Lahiri</div>
      <div class="smally">The pointy haired boss. Except when he shaves his head.</div>
      <img src="assets/about_us/arijit_lahiri.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description2 us_box">
      <div class="big">Kamalika Bhattacharya</div>
      <div class="smally">The pointy haired boss. Except when he shaves his head.</div>
      <img src="assets/about_us/arijit_lahiri.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description3 us_box">
      <div class="big">Arunkumar Balasubramanian</div>
      <div class="smally" style="margin-top: 55px;width:640px;">The pointy haired boss. Except when he shaves his head.</div>
      <img src="assets/about_us/arijit_lahiri.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>


    <div class="description4 us_box">
      <span class="big">Rushabh Hathi</span>
      Desc about Rushabh Hathi
      <img src="assets/about_us/rushabh_hathi.jpg">
    </div>

    <div class="description5 us_box">
      <span class="big">Indraneel More</span>
      Desc about Indraneel More
      <img src="assets/about_us/smiley_face.png">
    </div>

    <div class="description6 us_box">
      <span class="big">Sunny Singh</span>
      Desc about Sunny Singh
      <img src="assets/about_us/sunny_singh.jpg">
    </div>

    <div class="description7 us_box">
      <span class="big">Nilesh Panchal</span>
      Desc about Nilesh Panchal
      <img src="assets/about_us/Nilesh_Panchal.jpg">
    </div>

    <div class="description8 us_box">
      <span class="big">Rakesh Rengaraj</span>
      Desc about Rakesh Rengaraj
      <img src="assets/about_us/Spiderman-476x360.jpg">
    </div>

    <div class="description9 us_box">
      <span class="big">Surbhi Sawant</span>
      Desc about Surbhi Sawant
      <img src="assets/about_us/surbhi_sawant.jpg">
    </div>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(init);

    function init() {
        /* ========== DRAWING THE PATH AND INITIATING THE PLUGIN ============= */

        $.fn.scrollPath("getPath")
            // Move to 'start' element
                .moveTo(400, 50, {name:"start"})
            // Line to 'description' element
                .lineTo(400, 800, {name:"description"})
            // Arc down and line to 'syntax'
                .arc(200, 1200, 400, -Math.PI / 2, Math.PI / 2, true)
                .lineTo(600, 1600, {
                    callback:function () {
                        highlight($(".settings"));
                    },
                    name:"syntax"
                })
            // Continue line to 'scrollbar'
                .lineTo(1750, 1600, {
                    callback:function () {
                        highlight($(".sp-scroll-handle"));
                    },
                    name:"scrollbar"
                })
            // Arc up while rotating
                .arc(1800, 1000, 600, Math.PI / 2, 0, true, {rotate:Math.PI / 2 })
            // Line to 'rotations'
                .lineTo(2400, 750, {
                    name:"rotations"
                })
            // Rotate in place
                .rotate(3 * Math.PI / 2, {
                    name:"rotations-rotated"
                })
            // Continue upwards to 'source'
                .lineTo(2400, -700, {
                    name:"source"
                })
            // Small arc downwards
                .arc(2250, -700, 150, 0, -Math.PI / 2, true)

            //Line to 'follow'
                .lineTo(1350, -850, {
                    name:"follow"
                })
            // Arc and rotate back to the beginning.
                .arc(1300, 50, 900, -Math.PI / 2, -Math.PI, true, {rotate:Math.PI * 2, name:"end"});

        // We're done with the path, let's initate the plugin on our wrapper element
        $(".wrapper").scrollPath({drawPath:true, wrapAround:true, scrollBar:false});

        /* ===================================================================== */

        $(".settings .show-path").click(
                function (e) {
                    e.preventDefault();
                }).toggle(function () {
                    $(this).text("Hide Path");
                }, function () {
                    $(this).text("Show Path");
                });
    }


    function highlight(element) {
        if (!element.hasClass("highlight")) {
            element.addClass("highlight");
            setTimeout(function () {
                element.removeClass("highlight");
            }, 2000);
        }
    }
    function ordinal(num) {
        return num + (
                (num % 10 == 1 && num % 100 != 11) ? 'st' :
                        (num % 10 == 2 && num % 100 != 12) ? 'nd' :
                                (num % 10 == 3 && num % 100 != 13) ? 'rd' : 'th'
                );
    }


</script>