<div class="fun">

  <ul id="fun_menu">
    <li><%= link_to "home", "/" %></li>
    <li><%= link_to "products", "/products" %></li>
    <li>about us</li>
  </ul>

  <div class="wrapper">
    <div class="demo us_box" onclick="$.fn.scrollPath('scrollTo', 'description1', 500,'easeIn');">
      <span class="big">who is ptotem? <span class="arrow">&darr;<span class="arrow_text">Press &darr; to scroll</span></span></span>

    </div>
    <div class="description1 us_box" onclick="$.fn.scrollPath('scrollTo', 'description2', 700,'easeIn');">
      <div class="big">Arijit Lahiri</div>
      <div class="smally">
        A dreamer, a thinker, a speculative philosopher... or, as his wife would have it, an idiot.
      </div>
      <img src="assets/about_us/arijit_lahiri.jpg" style="float:right;">
      <a href="http://www.linkedin.com/pub/arijit-lahiri/18/53a/30b"><img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;"></a>
    </div>

    <div class="description2 us_box" onclick="$.fn.scrollPath('scrollTo', 'description3', 600,'easeIn');">
      <div class="big">Kamalika Bhattacharya</div>
      <div class="smally">She's the sort of woman who lives for others - you can tell the others by their hunted
        expressions.
      </div>
      <img src="assets/about_us/kamalika.jpg" style="float:right;">
      <a href="http://www.linkedin.com/pub/kamalika-bhattacharya/9/507/aa7"><img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;"></a>
    </div>

    <div class="description3 us_box"  onclick="$.fn.scrollPath('scrollTo', 'description4', 400,'easeIn');">
      <div class="big">Arunkumar Balasubramanian</div>
      <div class="smally" style="margin-top: 55px;width:640px;">
        If you're there before it's over, you're on time.
      </div>
      <img src="assets/about_us/arunkumar_balasubramanian.jpg" style="float:right;">
      <a href="http://www.linkedin.com/pub/arunkumar-balasubramanian/11/650/311"><img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;"></a>
    </div>


    <div class="description4 us_box" onclick="$.fn.scrollPath('scrollTo', 'description5', 700,'easeIn');">
      <div class="big">Surbhi Sawant</div>
      <div class="smally" style="margin-top: 60px;">She is outspoken, but we don't know by whom.</div>
      <img src="assets/about_us/surbhi_sawant.jpg" style="float:right;">
      <a href="http://www.linkedin.com/pub/surbhi-lohiya-sawant/3/4b5/251"><img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;"></a>
    </div>

    <div class="description5 us_box" onclick="$.fn.scrollPath('scrollTo', 'description6', 400,'easeIn');">
      <div class="big">Indraneel More</div>
      <div class="smally">
        I don't need anger management, I need people to stop pissing me off.
      </div>
      <img src="assets/about_us/indraneel.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description6 us_box" onclick="$.fn.scrollPath('scrollTo', 'description7', 400,'easeIn');">
      <div class="big">Sunny Singh</div>
      <div class="smally">
        Don't make me angry....you won't like me when I am angry.
      </div>
      <img src="assets/about_us/sunny.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description7 us_box" onclick="$.fn.scrollPath('scrollTo', 'description8', 400,'easeIn');">
      <div class="big">Nilesh Panchal</div>
      <div class="smally" style="width:300px;">I say if you're not making mistakes, then you're not doing anything.
      </div>
      <img src="assets/about_us/nilesh.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description8 us_box" onclick="$.fn.scrollPath('scrollTo', 'description9', 200,'easeIn');">
      <div class="big">Rakesh Rengaraj</div>
      <div class="smally">
        Hard work never killed anybody, but why take a chance?
      </div>
      <img src="assets/about_us/rakesh.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>

    <div class="description9 us_box" onclick="$.fn.scrollPath('scrollTo', 'description', 400,'easeIn');">
      <div class="big">Rushabh Hathi</div>
      <div class="smally">A Life? Cool! Where can I download one of those?</div>
      <img src="assets/about_us/rushabh_hathi.jpg" style="float:right;">
      <img src="assets/linkedin.png" style="height:48px;margin-right: 15px;float:right;">
    </div>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(init);

    function init() {
        /* ========== DRAWING THE PATH AND INITIATING THE PLUGIN ============= */

        $.fn.scrollPath("getPath")
            // Move to 'start' element
                .moveTo(400, 50, {name:"description"})
            // Line to 'description' element
                .lineTo(400, 400, {name:"description1"})
                .lineTo(400, 800)
            // Arc down and line to 'syntax'
                .arc(200, 1200, 400, -Math.PI / 2, Math.PI / 1, true, {name:"description2"})
                .arc(200, 1200, 400, Math.PI, Math.PI / 2, true)
                .lineTo(800, 1600, {name:"description3"})
            // Continue line to 'scrollbar'
                .lineTo(1750, 1600, {name:"description4"})
            // Arc up while rotating
                .arc(1800, 1000, 600, Math.PI / 2, 0, true, {rotate:Math.PI / 2 })
            // Line to 'rotations'
                .lineTo(2400, 750)
            // Rotate in place
                .rotate(3 * Math.PI / 2, {
                    name:"description5"
                })
            // Continue upwards to 'source'
                .lineTo(2400, -200, {
                    name:"description6"
                })
                .lineTo(2400, -700)
            // Small arc downwards
                .arc(2250, -700, 150, 0, -Math.PI / 2, true, {
                                    name:"description7"
                                })

            //Line to 'follow'
                .lineTo(1350, -850, {
                    name:"description8"
                })
            // Arc and rotate back to the beginning.
                .arc(1300, 50, 900, -Math.PI / 2, -Math.PI/1.5, true, {rotate:Math.PI * 1.75, name:"description9"})
                .arc(1300, 50, 900, -Math.PI / 1.5, -Math.PI, true, {rotate:Math.PI * 2, name:"description"});

        // We're done with the path, let's initate the plugin on our wrapper element
        $(".wrapper").scrollPath({drawPath:true, wrapAround:true, scrollBar:false});

        /* ===================================================================== */

        $(".settings .show-path").click(
                function (e) {
                    e.preventDefault();
                }).toggle(function () {
                    $(this).text("Hide Path");
                }, function () {
                    $(this).text("Show Path");
                });
    }


    function highlight(element) {
        if (!element.hasClass("highlight")) {
            element.addClass("highlight");
            setTimeout(function () {
                element.removeClass("highlight");
            }, 2000);
        }
    }
    function ordinal(num) {
        return num + (
                (num % 10 == 1 && num % 100 != 11) ? 'st' :
                        (num % 10 == 2 && num % 100 != 12) ? 'nd' :
                                (num % 10 == 3 && num % 100 != 13) ? 'rd' : 'th'
                );
    }


</script>