<div class="serious">
  <ul id="serious_menu">
    <li>Home</li>
    <li><%= link_to "Products", "/products" %></li>
    <li><%= link_to "About Us", "/about_us" %></li>
  </ul>
  <div id="serious_blurb">
    <div id="serious_blurb_back"></div>
    <div id="serious_blurb_text">
      <h2>Ptotem Learning</h2>
      <br>
      Bringing together over five decades of experience in psychology, education and front-line industry
      experience, we specialize in experiential learning through games, e-learning and workshops.
    </div>
  </div>
  <div id="serious_catchphrase">
    We build simulations.
  </div>
</div>