<div id="launcher">
  <%= image_tag "logo_with_name.png", :style => "" %>
  <h2 style="margin-top: -20px;">
    <span style="margin-left: 40px;color:white">do</span><span style="color:rgba(255,133,14,0.80);">ification of</span><span style="margin-left: 10px;font-size: 48px;"> learning</span>
  </h2>
</div>