// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@media only screen and (orientation:portrait) {
/* portrait styles here */
  #wrap {
    width: 768px;
  }
}

img {
  border: none;
}

html {
  overflow: hidden;
  width: 110%;
  height: 640px;
}

body {
  background-color: black;
  font-family: Arial;
  width: 95%;
  color: #333333;
  height: 640px;
  overflow: hidden;
}

#viewport {
  position: relative;
  overflow: hidden;
}

#appframe {
  width: 960px;
  z-index: 0;
}

#knob {
  position: absolute;
  top: 10%;
  z-index: 99;
}

#logo {
  width: 135px;
  vertical-align: middle;
  cursor: url(drag-cursor.png), url(/assets/drag-cursor.png), default;

}

#content {
  position: relative;
  width: 100%;
}

#splash {
  margin: 270px 0px 0px 275px;
  display: none;
}

#under_construction {
  margin: 170px 0px 0px -100px;
}

#fun_section, #serious_section {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.fun, .serious {
  display: none;
}

/* The Fun Section CSS*/

#fun_menu {
  position: relative;
  left: -80px;
  top: 200px;
  width: 300px;
}

#fun_menu li {
  list-style: none;
  margin-bottom: 5px;
  padding: 5px;

  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a6000000', endColorstr = '#00000000', GradientType = 1); /* IE6-9 */

  color: gray;
  font-family: 'Convergence', 'Serif';
  font-size: 20px;

}

#fun_menu li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Convergence', 'Serif';

}

#fun_menu li a:hover {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Convergence', 'Serif';
  text-decoration: none;
}

#fun_catchphrase {
  position: relative;
  left: 80px;
  top: 100px;
  color: white;
  font-size: 24px;
}

#fun_blurb {
  position: relative;
  left: 690px;
  top: -120px;
  color: black;
  width: 300px;
}

#fun_cards {
  position: relative;
  left: 650px;
  top: -75px;
  color: white;
  font-size: 24px;
}

.fun_cards_text {
  font-size: 14px;
  background: #e7a93a;
  padding: 20px;
  width: 355px;
  text-align: center;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#fun_cards a img {
  width: 128px;
}

.writeup {
  position: absolute;
  top: 250px;
  left: 200px;
  display: none;
}

.writeup_text {
  position: relative;
  top: -250px;
  left: 50px;
}

.writeup table, .writeup h3 {
  width: 320px;
}

.ptclose {
  float: right;
  font-size: 36px;
  margin-top: -10px;
  cursor: pointer;
}

.writeup_text img {
  width: 100px;
  margin-right: 10px;
}

/* The serious section CSS*/

#serious_menu {
  position: relative;
  margin-left: 940px;
  top: 200px;
  //width: 300px;
}

#serious_menu li {
  list-style: none;
  margin-bottom: 5px;
  padding: 5px;

  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a6000000', endColorstr = '#00000000', GradientType = 1); /* IE6-9 */

  color: gray;
  font-size: 20px;
  width: 100px;
}

#serious_menu li a {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Arial';
  text-decoration: none;
}

#serious_menu li a:hover {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial', cursive;
  text-decoration: none;
}

#serious_catchphrase {
  position: relative;
  left: 380px;
  top: -100px;
  color: white;
  font-size: 36px;
  width: 350px;
}

#serious_blurb {
  margin-top: 100px;
}

#serious_blurb_back {
  background: #ffb855;
  opacity: 0.7;
  position: relative;
  margin-left: -20px;
  top: -100px;
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

#serious_blurb_text {
  position: relative;
  margin-left: 10px;
  margin-top: -360px;
  width: 300px;
  font-family: 'Arial';
  font-size: 16px;

}

// About Us Page

#about_us_serious_container {
  margin-top: -130px;
}

.whatis, .whyis, .whereis, .howis {
  float: left;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 5px;
  color: black;
}

.whois {
  float: left;

}

// fun about us section

.wrapper {
  position: relative;
  margin-top: -200px;
  margin-left: 200px;
  height: 500px;
}

.wrapper div {
  position: absolute;
}

.settings, nav {
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  background: rgba(10, 10, 10, 0.5);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.settings {
  right: 0;
  padding: 10px 20px;
  border-radius: 10px 0 0 0;
}

.settings a {
  border: none;
}

.sp-canvas {
  //display: none;
}

.demo {
  overflow: hidden;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-left: 170px;
  margin-top: -130px;
}

.arrow {
  font-size: 50px;
  animation: point-down 0.5s alternate infinite;
  color: black;
  margin-left: 40px;
}

.arrow_text {
  font-size: 12px;
  color: black;
  display: inline-block;
  float: right;
}

.us_box {
  background: #ffffff;
  position: relative;
  left: -80px;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  display: inline-block;
  font-size: 13px;
  border: solid black 5px;
  text-decoration: none;
  color: #8b0000;
}

.us_box img {
  margin-top: -70px;
  width: 150px;
}

.big {
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 10px;
  text-shadow: 4px 4px 0 #dddddd;
  color: black;
  margin-top: -5px;
}

.smally {
  margin-top: 40px;
  width: 290px;
}

.description1 {
  top: 230px;
  left: 90px;
  width: 440px;
}

.description2 {
  left: -49px;
  top: 700px;
  width: 590px;
}

.description3 {
  left: -707px;
  top: 1046px;
  width: 674px;
}

.description4 {
  left: -417px;
  top: 1391px;
  width: 426px;
}

.description5 {
  left: 150px;
  top: 1651px;
  transform: rotate(0deg) translateY(0em);
  width: 445px;
}

.description6 {
  left: 760px;
  top: 1487px;
  transform: rotate(0deg) translateY(0em);
  width: 435px;
}

.description7 {
  left: 1392px;
  top: 1659px;
  transform: rotate(0deg) translateY(0em);
  width: 445px;
}

.description8 {
  left: 2223px;
  top: 720px;
  transform: rotate(90deg) translateY(0em);
  width: 452px;
}

.description9 {
  left: 2043px;
  top: 50px;
  transform: rotate(90deg) translateY(0em);
  width: 450px;
}

.description10 {
  left: 2220px;
  top: -539px;
  transform: rotate(90deg) translateY(0em);
  width: 435px;

}

.description11 {
  left: 1880px;
  top: -986px;
  transform: rotate(90deg) translateY(2.5em);
  width: 456px;
}

.description12 {
  left: 1190px;
  top: -985px;
  transform: rotate(90deg) translateY(2.5em);
  width: 456px;
}

.description13 {
  left: 495px;
  top: -815px;
  transform: rotate(45deg) translateY(2.5em);
  width: 476px;
}

//.description14 {
//  left: 1880px;
//  top: -986px;
//  transform: rotate(90deg) translateY(2.5em);
//  width: 456px;
//}

@keyframes point-down {
	from {
		top: 0;
	}
	to {
		top: 5px;
	}
}

@keyframes highlight {
	to {
		background: lightblue;
	}
}
