<div id="launcher">
  <%= image_tag "logo_with_name.png", :style => "" %>
  <h2 style="margin-top: -20px;">
    <span style="margin-left: 220px;font-size: 48px;"> <%= @product.name %></span>
  </h2>
</div>